*{
  margin: 0;
  padding: 20px;
  box-sizing: border-box;

}

body{
  font-family: Montserrat;
  background-image: url("img/legno.png");
}

header{
  background-color: yellow;
  height: 200px;
  background-image: url("img/foresta.jpg");
  background-size: cover;
  border: 10px solid white;
  position: relative;
}

h1{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

h3{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  margin-top: 25px;
}

nav{
  position: relative;
  height: 48px;
}

.barretta{
  background-color:#504741;
  margin-bottom: 10px;
  margin-top: none;
  text-align: center;
}



main{
  background-color: green;
}

main::after{
  content: "";
  display: table;
  clear:both;
}

footer{
  background-color: grey;
  height: 150px;
  margin-top: 10px;
}

.primacolonna{
  background-color: purple;
  width: 20%;
  height: 200px;
  float: left;
  margin-right: 5%;
}

.colonnacentrale{
  background-color: blue;
  width: 50%;
  height: 600px;
  float: left;
}

.secondacolonna{
  background-color: red;
  width: 20%;
  height: 150px;
  float: left;
  margin-left: 5%;
  position: relative;
}

.secondacolonna2{
  background-color: purple;
  width: 20%;
  height: 270px;
  float: left;
  margin-left: 5%;
  float : left;
  margin-top: 20px;
}

.testocentarto{
  position:absolute;
  left: 50%;
  top: 0%;
}

.barretta > ul {
  list-style-type: none;
  padding: 0;
}


.barretta > ul > li {
  display: inline-block;
  padding: 0;
  width: 100px;
}

nav li>a{
  display: none;
}

nav li:hover a{
 display: inline-block;
 float: left;
 background-color: brown;
 width: 250px;
}

nav li a:first-child{
  margin-top: 12.3px;

}
